.nav-link{
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 29.98px !important;
    color: #FFFFFF !important;
    text-transform: uppercase !important;

}
.nav-link:active{
    color: #00E300 !important;
}
.navbar-toggler-icon{
    
    background-color: #FFFFFF !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
    margin-right: none !important;

}